@media (max-width: 1025px){
    .check1{
        width: 0.5em;
        height:0.5em;   }
} 

body {
    margin: 10% 15% 10% 15%;
    border: 1px solid rgb(199, 186, 186);
}

/* h2 {
    text-align: center;
} */

.form-check {
    margin: 5% 0 5% 0;
}


